body {
  background-color: pink
}

/*.bar {
	  float: left;
	  width: 30px;
	  margin-right: 20px;
	  background-color: #F4F5F7;
	  border: 1px solid #C5C5C5;
}*/

div #relative1 {
    position: relative;
    width: 505px;
    height: 305px;
    border: 2px solid #E6E6E6;
} 

div #relative2 {
    position: relative;
    width: 505px;
    height: 200px;
    border: 2px solid #E6E6E6;
} 

div #relative3 {
    position: relative;
    width: 505px;
    height: 205px;
    border: 2px solid #E6E6E6;
} 

div #relative4 {
    position: relative;
    width: 505px;
    height: 305px;
    border: 2px solid #E6E6E6;
} 

div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;   
    background-color: teal;
    margin-right: 2px;
}

.header img {
  float: left;
  width: 100px;
  height: 100px;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}